*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid black;
    width: 1200px;
    height: 250px;
    display: flex;
    margin: 50px auto 0;
    background-color: darkcyan;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.sidebar{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: chartreuse;
}

.button-container{
    border: 2px solid black;
    border-top: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 15px 0;
    background-color: darkcyan;
}

.circle-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.page{
    text-align: center;
    width: 700px;
    display: flex;
    flex-direction: column;
}

.title{
    padding: 15px 0;
}

.paragraph{
    padding: 15px 0;
}

.refresh{
    background-color:chartreuse;
    padding: 10px 15px;
    border-radius: 25px;
    margin-bottom: 50px;
    cursor: pointer;
}

.break-line{
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid chartreuse;
}

a{
    cursor: pointer;
}

.fas{
    font-size: 50px;
}

.fa-redo{
    font-size: 15px;
}

.circle{
    height: 15px;
    width: 15px;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
}